@import "ui-variables.css";
$normal-margin: 10px;
$normal-padding: 5px;

#nav{
  float:auto;
  background-color: black;
}
.nav-link{
  height: 30px;
  float:right;
  position:sticky;
  padding:5px;
  margin:auto;
  text-decoration: none;
}


footer {
  clear:both;
  background-color:	#091b45;
  margin: auto;
  padding: 40px;
  a{
    color: black;
  }
  p {
    color: white;
    text-align: center;
  }
  #footer-list {
    color: #091b45;
    li a{
      color: white;
    }

  }
}

body {
  margin-left: 40px;
  margin-right: 40px;
  background-color: #0d2561;
  main{
    background-color: #d8dfe4;
  }
}
/*
.banner{
  position: relative;
  background: url(bg.jpg);
  min-height: 100vh;
  background-size: cover;
  background-position: center;
  padding: 250px 0 200px;
}
*/
.heading{
  text-align: center;
}

#tribute-info > p{
  margin: auto;
  padding: 5px;
  background-color:	#5f6fa2;
}

div{
  padding: 5px;
  .paragraph, .question{
    @extend %lists;
  }
}




.jumbotron, .footer-div{
  margin: 0 20% 0 20%;
  padding: 5%;
  h1{
    padding: 20px;
    margin: 0 -20px 0 -20px;
  }
}

/*
// Small devices (landscape phones, 576px and up)
@media (max-width: 780px) {
  .row {
    display: grid;
 }
 .row > .col{
   margin:30px;
   padding: 20px;
   background-color: #0d2561;
 }
}

// Medium devices (tablets, 768px and up)
@media (min-width: 576px) {
   .row {
     display:flex;
  }
  .row > .col{
    margin: 30px;
    padding: 20px;
    background-color: #0d2561;
  }
 }
*/
// Large devices (desktops, 992px and up)
@media (min-width: 1200px) {
  .row {
    display:flex;
 }
 .row > .col{
   border-top: 10px solid	#0d2561;
   color: #eeeeee;
   //border-radius: 10px;
   margin: 20px;
   padding: 20px;
   background-color:#5f6fa2;

 }
 .img-fluid {

   height: 100%;
   width: 100%;
 }

}

// Extra large devices (large desktops, 1200px and up)
@media (max-width: 1200px) {
  .row {
    display:grid;
 }
 .row > .col{
   color: #eeeeee;
   border-top: 10px solid #0d2561;
   margin: 5px;
   padding: 20px;
   background-color:#5f6fa2;
 }
 .img-fluid {

   height: 100%;
   width: 100%;
 }

}

//inheritense
%flex-contant {
  border: solid black;
  border-radius: 5px;
  border-color: #d8dfe4;
  background-color:  	#eeeeee;
}

main {
  margin: 100px 0 100px;
  @extend %flex-contant;
  //padding: $normal-padding;
}

%lists {
  list-style: none;
  position: relative;
  margin: $normal-margin;
  padding: $normal-padding;
  border-color: #3e4444;
  background-color:  	#eeeeee;
}

.lists  {
  @extend %lists;
  li {
    padding: 5px;
  }
}
